.blog-bento {
    width: 100%;
    height: 100%;
    position: relative;

    #text {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #container {
        width: 100%;
        height: 100%;
        margin: -16px;
        overflow: hidden;
        position: absolute;
    }

    .thought-cloud {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        overflow: hidden;
        font-size: 5rem;
        z-index: 1;
    }

    #animate {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        overflow: visible;
        position: relative;
    }

    #all {
        overflow: hidden;
        width: 100%;
        position: fixed;
    }

    a,
    p {
        text-decoration: none;
        color: #808080;
        letter-spacing: 6px;
        transition: all 0.5s ease-in-out;
        width: auto;
        float: left;
        margin: 0;
        margin-right: 9px;
    }

    a:hover {
        color: #fff;
        letter-spacing: 2px;
        transition: all 0.5s ease-in-out;
    }
}